<head>
  <title>nomi</title>
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nomi_styles.css')}}">
</head>

<div id="main_container">
  <div id="name_container">
    <h1 id="name" onclick="copyToClipboard(this.innerText)">
      <span>{{adjective}}</span><span>{{noun}}</span>
    </h1>
  </div>
</div>

<script type="text/javascript">
  function copyToClipboard(text){
    let dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
  }
</script>

<footer>nomi</footer>
